{% extends "SomeRequests/base.html" %}

{% block title %}
    Create request
{% endblock title %}

{% block body %}
    <h1>Creating request:</h1>
    <div>
        <form method="post">
            {% csrf_token %}
            {{request_data.as_p}}
            {{user.username}}
            <button type="submit">
                Submit
            </button>
        </p>
        <a href="{% url 'SomeRequests:main_page' %}">
            Return to main page
        </a>
        </form>
    </div>

{% endblock body %}
