{% extends 'SomeRequests/base.html' %}
{% block title %}
    Main page
{% endblock title %}

{% block body %}
    <h1>Main Page</h1>
    <h2>Categories:</h2>

    <div>
        <p>
            <a href="{% url 'SomeRequests:requests' %}">
                Requests 
            </a>
        </p>
        <p>
            <a href="{% url 'SomeRequests:create_request2' %}">
                Create request
            </a>
        </p>
        <p>
            <a href="{% url 'SomeRequests:add_message' %}">
                Adding message
            </a>
        </p>

    </div>

{% endblock body %}