{% extends "SomeRequests/base.html" %}

{% block title %}
    Requests list:
{% endblock title %}

{% block body %}
    <h1>Requests list: </h1>
    <div>
        <form method="post">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit">Submit</button>
            <p>---------------------------------------------</p>
            
            
        </form>
    </div>
    {% if request %}
    {% for request in requests %}
        <p>Request ID: {{request.pk}}</p>
        <p><a href="{% url 'SomeRequests:request_data_view' pk=request.pk %}"
            >Request title: {{request.title}}</a></p>

        <p>Request description: {{request.description}}</p>
        <p>Request time: {{request.created_at}}</p>
        <p>Request author: {{request.user.username}}</p>
        <p>---------------------------------------------</p>
    {% endfor %}
    {% else %}
        No requests yet
    {% endif %}
    <p>
        <a href="{% url 'SomeRequests:main_page' %}">
            Return to main page
        </a>
    </p>

{% endblock body %}

